.class_relatorio_1 {
	border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;
}

.class_relatorio_2{
	border-top: 1px solid #000000;
}

.class_relatorio_3{
	border-bottom: 1px solid #000000;
}

.class_relatorio_4{
	border-bottom: 1px solid #000000;
}

.class_relatorio_5{
 	border-right: 1px solid #000000;
}

.class_relatorio_6{
	border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000;
}

.class_relatorio_7{
	border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;
}

.class_relatorio_8{
	border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000;
}

.class_relatorio_9{
	border-left: 1px solid #000000;
};

.class_relatorio_10{
	border-right: 1px solid #000000;
};

.class_relatorio_11{
	border-bottom: 1px solid #000000; border-left: 1px solid #000000;
}

.class_relatorio_12{
	border-top: 1px solid #000000; border-left: 1px solid #000000;
}

.class_relatorio_13{
	border-top: 1px solid #000000; border-bottom: 1px solid #000000;
}